@media only screen and (min-width: 541px) {
  #navigation li {
    float: left;
  }
}

@media only screen and (min-width: 768px) {
  #inv-display {
    flex-direction: row;
    justify-content: space-around;
  }

  #write-review form {
    align-items: flex-start;
  }

  .details-container {
    width: 100%;
    margin: 20px;
    display: flex;
    flex-direction: row;
  }

  #vehicle-imgs img {
    width: 100%;
  }  
  
  #inv-img-display {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  #inv-img-display img {
    max-width: 100px;
  }

  #inv-img-display img:hover {
    max-width: none;
  }
}

@media only screen and (min-width: 1024px) {
  #navigation ul {
    flex-direction: row;
  }

  body {
    max-width: 80%;
    margin: auto;
    border: solid 4px #4c96d7;
    border-top: none;
    border-radius: 0 0 10px 10px;
  }

  #page-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
  }

  #page-landing {
    justify-content: start;
    width: 100%;
  }

  #features {
    order: 1;
  }

  #landing-btn {
    order: 2;
    margin: 0;
  }

  #landing-img {
    order: 3;
  }

  #reviews {
    width: 50%;
  }

  #upgrades {
    width: 50%;
  }
}