html {
  background-image: url("../images/site/small_check.jpg");
  font-family: 'IBM Plex Mono', monospace;
}

a {
  text-decoration: none;
  color: #3a3a3a;
}

h1 {
  text-align: center;
}

h2 {
  color: #4c96d7;
  margin: 0;
}

h3 {
  color: #3a3a3a;
  margin: 0;
  font-weight: 100;
}

h4 {
  text-align: center;
}

p {
  text-align: center;
}

p.error {
  color: red;
}

p.success {
  color: green;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

#navigation ul {
  background-color: #3a3a3a;
  list-style: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

#navigation li a {
  display: block;
  text-align: center;
  padding: 16px;
  color: white;
}

#navigation a:hover {
  background-color: #4c96d7;
  cursor: pointer;
}

.active {
  background-color: #4c96d7;
}

body {
  background-color: white;
  margin: 0;
  width: 100%;
}

#page-landing {
  display: flex;
  flex-direction: column;
  padding: 20px;
  max-width: 800px;
  max-height: min-content;
  margin: auto;
}

#landing-btn {
  display: flex;
  justify-content: center;
  width: 150px;
  margin: auto;
}

#page-landing button {
  border: none;
  margin: auto;
  padding: 20px;
  width: 100%;
  background-color: #3a3a3a;
  color: white;
  font-size: large;
  z-index: 5;
}

#features {
  margin-bottom: 20px;
  z-index: 5;
}

#page-landing img {
  width: 100%;
}

#landing-img {
  transform: translateY(-60px);
}

#reviews li {
  margin: 10px;
}

#upgrade-flex-container {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 0px;
  margin: 10px;
  gap: 6px 6px;
}

.upgrade-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #a6cbeb;
  width: 48%;
}

.upgrade-box img {
  padding: 6px;
}

.upgrade-box a {
  color: #3a3a3a;
}

#footer {
  text-align: center;
  border-top: #3a3a3a solid 4px;
  padding: 20px;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

select {
  width: 33%;
  min-width: 200px;
  max-width: 400px;
  margin: 10px;
  padding: 20px;
}

select option {
  width: 33%;
  min-width: 200px;
  max-width: 400px;
  margin: 10px;
  padding: 20px;
}

input {
  width: 33%;
  min-width: 200px;
  max-width: 400px;
  margin: 10px;
  padding: 20px;
}

input[type=submit] {
  min-width: 100px;
  margin: 10px;
  padding: 20px;
}

.btn-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 20px;
}

.btn {
  margin: auto;
  margin-top: 20px;
  padding: 20px;
  background-color: #a6cbeb;
}

span {
  color: #4c96d7;
}

span.password {
  width: 300px;
  font-size: small;
}